@mixin trueconf-scrollbar {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    margin: 0;

    background: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-button:vertical:decrement {
    height: 8px;

    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-button:vertical:increment {
    height: 8px;

    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    min-height: 32px;

    background: #999;
    border-radius: 2px;
    background-clip: content-box;
  }
}

@mixin between-children() {
  & > *:not(:last-child) {
    @content;
  }
}