@use 'sass:math';
@use './mixins' as *;

%section {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.section {
  @extend %section;
}

$margins: 8px, 12px, 16px, 18px, 24px, 32px, 36px;

@each $margin in $margins {
  // extracting units from margin value
  .section-#{math.div($margin, ($margin * 0 + 1))} {
    @extend %section;

    @include between-children() {
      margin-bottom: $margin;
    }
  }
}

.container {
  display: flex;
  flex-flow: row nowrap;

  @include between-children() {
    margin-right: 16px;
  }
}

.container--fullwidth {
  width: 100%;
}
